.idea
.vagrant
node_modules
vendor
cache
!web/scss/vendor
# sourceMap files
*.map
web/css/main.css

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

key