<!DOCTYPE html >
{% spaceless %}
<html>
<head>
    <script>
        {% include 'fg-loadcss/src/loadCSS.js' %}
    </script>
    <link rel="preload" href="/css/main.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/main.css"></noscript>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
{% endspaceless %}