<!DOCTYPE html >
{% spaceless %}
<html>
<head>
    <script>
        {% include 'fg-loadcss/src/loadCSS.js' %}
    </script>
    <link rel="preload" href="/css/main.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/main.css"></noscript>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
{% endspaceless %}