<!DOCTYPE html >
{% spaceless %}
<html>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body class="u-flex-set">
{% block content %}{% endblock %}
</body>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/js/prismjs/prism.js"></script>
<script src="/js/node_modules/animateplus/animate.js"></script>
<script src="/js/modules/parallax.js"></script>
<script src="/js/modules/logo-animation.js"></script>
<script src="/js/modules/page-animation.js"></script>
<script src="/js/modules/menu-animation.js"></script>
<script src="/js/modules/global-animations.js"></script>
</html>
{% endspaceless %}