{% extends 'base.twig' %}

{% block content %}
    {% block fold %}
        <h1>Critical css page</h1>

        <p class="red-box">
            Critical red box
        </p>
    {% endblock fold %}

    <a href="/">Home</a>
    <p class="blue-box">
        Not so critical blue box
    </p>

{% endblock content %}
