{% extends 'base.twig' %}

{% block content %}
    {% fold %}
    <header class="[ c-header ]">
        <h1>Page specific CSS</h1>
        <p class="u-color-neutral-base u-light">PHP library which determines critical css on a per page basis.</p>
        <iframe src="https://ghbtns.com/github-btn.html?user=JanDC&repo=page-specific-css&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </header>
    {% endfold %}
{% endblock content %}
