{% extends 'base.twig' %}

{% block content %}
    <div class="[ o-basic-layout ]">
        <aside>
            <h1 class="c-logo u-light">
                <span class="u-color-orange-base">automatic</span><br>
                <span class="u-color-blue-base">critical</span><br>
                <span class="u-color-red-base">css</span> with<br>
                <span class="u-color-green-base">twig</span> and<br>
                <span class="u-color-purple-base">php</span>
            </h1>

            <nav class="[ c-menu ]" role="navigation">
                <ul class="u-light o-list--reset">
                    <li><a href="#">Explanation</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Benchmarks</a></li>
                </ul>
                <div class="[ c-menu-bg ] u-bgcolor-purple-base"></div>
            </nav>

        </aside>
        <main>
            <p>This small php library in combination with a twig extention allows you to annotate above-the-fold-html in your twig files wich will than extract all the necessery css.</p>
            <p>In combination with loadCSS you can setup a page-specific critcal CSS solution quiet easy.</p>
            <br>
            <h3 id="install">Install</h3>
            <pre><code class="language-bash">composer install page-specific-css</code></pre>
            <br>
            <h3 id="usage">Usage</h3>
            <pre class="u-margin-bottom-none">
                <code class="language-twig">{% filter e %}
{{ '{% fold %}' }}
    <button class=”your-css-class”>Button</button>
{{ '{% endfold %}' }}
{% endfilter %}</code>
            </pre>
            <pre class="u-margin-top-none">
                <code class="language-markup">{% filter e('html') %}<!-- output -->
<head>
    <style>.your-css-class{color:pink;}</style>
</head>{% endfilter %}
                </code>
            </pre>
        </main>
    </div>
{% endblock content %}