{% extends 'base.twig' %}

{% block content %}
<h1>Index</h1>
<ul>
    <li><a href="/reference">Reference page</a></li>
    <li><a href="/critical">critical css page</a></li>
</ul>
{% endblock content %}