/*
 *  Components: Logo
 *  ---
 */

.c-logo {
  display: inline-block;
  @include font-size(38px, 1.2);
  color: palette(color-base, medium);
  position: relative;
  z-index:2;
  perspective: 400px;

  > span{
    display: inline-block;
  }

  &.intro-animation{
    > span{
      opacity: 0;
      transform-origin: bottom center;
    }

    &:after{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      height:100%;
      width:100%;
    }
  }

  @media only screen and (max-width: 1200px) {
    @include font-size($font-size-huge);
  }


}