/*
 *  Components: Logo
 *  ---
 */

.c-logo {
  display: inline-block;
  @include font-size(38px, 1.2);
  position: relative;
  z-index:2;
  perspective: 400px;

  > span{
    opacity: 0;
    display: inline-block;
    transform-origin: bottom center;
  }

  &:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
  }
}