/*
 *  Components: Menu
 *  ---
 */

.c-menu{
  margin-top: double($global-spacing-unit-large);
  position: relative;
  display: inline-block;
  padding-top: $global-spacing-unit;
  ul{
    position: relative;
    z-index: index(beta);
    color: white;
    a{
      text-decoration: none;
      color: inherit;
      display: block;
      padding: $global-spacing-unit-tiny 0;
      
      &:hover{
        opacity:.6;
      }
    }
  }
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.c-menu-bg {
  width: 1340px;
  height: 900px;
  position: absolute;
  z-index: index(alpha);
  top: 0;
  right: 0;

  &.intro-animation{
    transform-origin: top right;
    opacity: 0;

    &.is-parallaxing{
      transition: 1s cubic-bezier(0.03, 0.98, 0.52, 0.99);
    }
  }
  &:not(.intro-animation){
    transform-origin: top right;
  }
}

.c-menu-bg-parallax{
  position: absolute;
  right: 0;
  top: 0;
}