/*
 *  Elements: Links
 *  ---
 */

p{
  a{
    box-shadow: 0 0 20px 2px rgba(black, .1), 0 0 6px 1px rgba(black, .05);
    background-color: white;
    color: $color-purple;
    padding: 1px 5px;
    text-decoration: none;
    border-radius: 3px;

    &:hover{
      box-shadow: none;
      background-color: $color-purple;
      color: white;
    }
  }
}