/*
 *  Elements: Headings
 *  ---
 *  We have all of our heading font sizes defined here. Passing these pixel
 *  values into our `font-size()` mixin will generate a rem-based
 *  `font-size` with a pixel fallback, as well as generating a `line-height` that
 *  will sit on our baseline grid.
 */

$weight: $normal;

h1 {
  font-family: $secondary-font-family;
  @include font-size($font-size-h1, 1.5);
  font-weight: $weight;
}

h2 {
  font-family: $secondary-font-family;
  @include font-size($font-size-h2, 1.5);
  font-weight: $weight;
}

h3 {
  font-family: $secondary-font-family;
  @include font-size($font-size-h3, 1.5);
  font-weight: $weight;
}

h4 {
  font-family: $secondary-font-family;
  @include font-size($font-size-h4, 1.5);
  font-weight: $weight;
}

h5 {
  font-family: $secondary-font-family;
  @include font-size($font-size-h5, 1.5);
  font-weight: $weight;
}

h6 {
  font-family: $secondary-font-family;
  @include font-size($font-size-h6, 1.5);
  font-weight: $weight;
}