<p class="c-share-links">
    <a href="https://twitter.com/share" class="twitter-share-button"
       data-url="http://jandc.io/page-specific-css"
       data-text="Page specific css. A small library that will automaticly generate critical CSS."
       data-via="GijsRoge @EpochDC">Tweet</a>
    <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');</script>
    <a class="github-button" href="https://github.com/JanDC/page-specific-css"
       data-count-href="JanDC/page-specific-css/stargazers"
       data-count-api="/repos/JanDC/page-specific-css#stargazers_count"
       data-count-aria-label="# stargazers on GitHub"
       aria-label="Star JanDC/page-specific-css, A small library that will automaticly generate critical CSS on GitHub">Star</a>
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</p>